.site-header {
    font-family: "Alfa Slab One", serif;
    font-style: normal;
    font-weight: 200;
    padding: 16px 32px;
    width: 100%;
    height: 110px;
    box-shadow: 0 2px 4px #0000001a;
    top: 0 !important;
    display: flex;
    border-bottom: 0.4px solid gray;  
background: linear-gradient(
  to bottom,
  #1a2635 0%,     /* bright graphite-blue (top) */
  #0a0f1f 75%,    /* deep graphite/navy */
  #000000 100%    /* black (bottom) */
);

    left: 0 !important;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center;
    position: absolute; 
    z-index: 10;
}

.nav-links a {
    margin-left: 24px;
    text-decoration: none;
    color: #8B5A2B;
    font-weight: 500;
    font-size: 20px;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: gray;
}